.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown-button {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #C2BCD8;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 48px;
  font-size: 16px;
  
}

.arrow {
  margin-left: 8px;

  height: 24px;
  width: 24px;
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;
  background: #f8f8ff;
  border: 1px solid #d3d3f2;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  scrollbar-width: 0px;
   overflow: auto;
  scrollbar-width: none;      
  -ms-overflow-style: none; 
}

.dropdown-list li {
  padding: 10px 12px;
  cursor: pointer;
  transition:  0.2s;
}

.dropdown-list li:hover {
  background: var(--selected-color);
}

.dropdown-list li.selected {
  background: var(--selected-color);;
 
}
