.title{
    margin-bottom: 44px;
    margin-top: 60px;
}
.card {
    max-width: 1280px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    background: white;
    border-radius: 20px;
    margin-bottom: 2rem;
    overflow: hidden;
    padding: 16px;

    h2,
    .h2 {
        font-family: Inter;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0px;

    }

    .image-section {

        width: 280px;

        img {
            width: 280px;
            height: auto;
            display: block;
            border-radius: 16px;
        }

    }

    .content-section {
        flex: 2;
        padding: 12px;
        margin-left: 20px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                margin: 0;
            }
        }

        p {
            margin-top: 0.5rem;
            color: #555;
        }

        .details {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .feature {

                display: flex;
                flex-direction: column;
            }

            .section {
                margin-bottom: 0.75rem;

                .icons {
                    margin-top: 12px;
                    display: flex;
                    gap: 12px;

                    img {
                        height: 44px;
                        width: 44px;
                    }
                }
            }

            ul {
                padding-left: 1.5rem;
            }



        }
    }
}
.icon-text {
    margin-top: 12px;
    display: inline-flex; 
    align-items: center; 
    gap: 0.5rem; 

    img {
        display: block;
    }
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-actions {
    display: flex;
    gap: 16px;
       cursor: pointer;
}

img {
    width: 44px;
    height: 44px;
}