<div class="card">
    <div class="image-section">
        <img src="assets/open_space/image.svg" alt="Open space" />
    </div>
    <div class="content-section">
        <div class="header">
            <h1>Open space</h1>

        </div>
        <div class="card-info">
            <div class="icon-text">
                <img src="assets/img/9.svg" alt="Desks icon" />
                <span>May 18, 2025 - May 23, 2025</span>
            </div>
            <div class="icon-text">
                <img src="assets/img/10.svg" alt="Desks icon" />
                <span>from 2:00 PM to 4:00 PM</span>
            </div>
        </div>

    </div>
    <div class="card-actions">
       <img src="assets/img/Edit.svg" alt=""> <img src="assets/img/Delete.svg" alt="">
        
    </div>
</div>